body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #808b96 ;
}


 .en_tete{
    overflow: hidden;
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding: 30px;
    
}


 .info{
    margin-left: 15%;
    float: left;
 }


 .k{
    height: 15%;
    width: 15%;
    float: right;
    margin-right: 15%;
    padding: 1%;
 }

 .date_de_naissance{
    color: black;
    font-weight: bold;
 }

 .block_2{
    clear: both;
 }

 .séparation{
    color: black;
    clear: both;
    width: 75%;
    border-top: 8px solid #000000;
    border-radius: 5px;
    
 }

 .titre_hr  {
    color: black;
    clear: both;
    width: 75%;
 }

 .titre {
    margin-left: 15%;
    font-weight: bold;
 }

 .date{
    margin-left: 15%;
    float: left;
    font-weight: bold;
 }

 .paragraphe_1{
    float:right;
    margin-right: 15%;
 }

 .paragraphe_2{
    float:right;
    margin-right: 22%;
 }

 .paragraphe_3{
    float:right;
    margin-right: 26%;
 }

 .content{
    border-style: groove;
    border: solid;
    border-color: #000000;
    margin-left: 10%;
   height: 1300px;
   width: 1000px;
   background-color: white;
 }

